<h1>{{ title }}</h1>

<!-- loading -->
<ng-container *ngIf="state.state === State.loading">
  Loading Projects ...
</ng-container>

<!-- loaded -->
<ng-container *ngIf="state.state === State.loaded">
  <p *ngFor="let project of projects.projects">
    {{project.name}}
  </p>
</ng-container>

<hr/>

<!-- buttons -->
<div>
  <h3>ensure$</h3>
  <pre>
    Tries to ensures the ObjectState is loaded
  </pre>
  <button (click)="ensureProjects()">
    ensure$()
  </button>

  <pre>
    Pass `force: true` if you'd like to force API call.
  </pre>
  <button (click)="ensureProjects(true)">
    ensure$(force: true)
  </button>

  <h3>update$</h3>
  <pre>
    Wrap updates / modifications of "current"
    * - Executes the provided function
    * - Always Updates the current object (if any, otherwies a new current object is created)
    * - Signals the change of the current object
    * Returns a one time Observable that automatically completes after completion of subscription function.
  </pre>
  <button (click)="updateProjects()">
    update$()
  </button>
</div>
<router-outlet></router-outlet>
